<div class="panel panel-info">
	<div class="panel-heading">
	<%= link_to edit_task_path(task) do %>
		Created <%= time_ago_in_words(task.created_at) %> ago
	<% end %>
	<%= button_to '<button type="button" class="close" aria-hidden="true">&times;</button>'.html_safe, task_path(task), method: :delete, onclick: "return confirm('Are you sure?')" %>
	</div>
	<div class="panel-body"><%= raw(task.content_html) %></div>
	<div class="panel-footer text-center">
		<div class="btn-group btn-group-justified">
			<% if task.state == 'doing' %>
				<!-- left arrow to todo
				right arrow to done -->
				<%= button_to '<i class="fa fa-arrow-left"></i>'.html_safe, change_task_path(task, state: "to_do"), method: :post, class: 'btn btn-info btn-md btn-block' %>
				<%= button_to '<i class="fa fa-arrow-right"></i>'.html_safe, change_task_path(task, state: "done"), method: :post, class: 'btn btn-info btn-md btn-block' %>
			<% elsif task.state == 'done' %>
				<!-- left arrow to doing -->
				<%= button_to '<i class="fa fa-arrow-left"></i>'.html_safe, change_task_path(task, state: "doing"), method: :post, class: 'btn btn-info btn-md btn-block' %>
			<% else %>
				<!-- right arrow to doing -->
				<%= button_to '<i class="fa fa-arrow-right"></i>'.html_safe, change_task_path(task, state: "doing"), method: :post, class: 'btn btn-info btn-md btn-block' %>
			<% end %>
		</div>
	</div>
</div>